.c-bar {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 2px;
}

.c-bar__item {
  background-color: #5aa1f8;
  display: inline-block;
  padding: 0.5rem;
  margin-right: 6rem;
  width: calc(var(--bar-item-percent) * 1%);
  min-width: 2em;
  min-height: 1em;
  text-align: center;
  position: relative;

  &:nth-child(2) {
    background-color: #fd9727;
    display: none;
  }
  &:nth-child(3) {
    background-color: #288ae2;
    display: none;
  }
}

.c-bar__label {
  position: absolute;
  right: -2em;
}
