// Useful info: https://foundation.zurb.com/sites/docs/sass.html
@import 'node_modules/foundation-sites/scss/foundation';
// @import 'node_modules/foundation-sites/scss/util/util';
// @import 'node_modules/foundation-sites/scss/settings/settings';

// @include foundation-global-styles;
// @include foundation-forms;
@include foundation-typography;
@include foundation-table;

p,
li,
th,
td {
  font-family: var(--font-family-primary);
  font-weight: 300;
  line-height: 1.15;
  text-size-adjust: 100%;

  a {
    text-decoration: underline;
  }
}
